@using MehrStore
@using MehrStore.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Category
<h1>This is new Category</h1>
<form method="post">
    <div class="row p-3 mt-4">
        <h2>Create a New Category</h2>
        <hr/>
    </div>
    <div class="row mb-3">
        <label asp-for="Name" class="p-0"></label>
        <input type="text" asp-for="Name" class="form-control"/>
    </div>
    <div class="row mb-3">
        <label asp-for="DisplayOrder" class="p-0"></label>
        <input id="displayorder" asp-for="DisplayOrder" class="form-control"/>
    </div>
    <div class="row m-3 p-3">
        <div class="col col-3">
            <button type="submit" class="btn btn-primary" style="wisth:150px">Create</button>
        </div>
        <div class="col col-3">
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" width=150>Back to category list</a>
        </div>
    </div>
</form>